#header {
    font-size: 3em;
    margin: 20px;
}
body{
    height: 100%;
    min-height: 400px;
}

#content {
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
    font-family: sans-serif;
}

#content table tr td {
    padding: 4px 2px;
}
 #footer {
    margin: 0 auto;
    text-align: center;
 }